# User-specific files
*.suo
*.user
*.sln.docstates

# Build artifacts
game/*
build/*
ipch/*
*.exe
*.pdb
*.ilk
*.pdb
*.aps
*.opensdf
*.sdf
*Thumbs.db
Installer/bin/*
Installer/obj/*
game/bin/*
/HailstormApp/HailstormApp.Windows/Debug
/HailstormApp/HailstormApp.Windows/x64/Debug
/HailstormApp/HailstormApp.WindowsPhone/Debug
/x64/Debug/HailstormApp.Windows
