<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- ============================================================ -->
    <!--   Shared variables                                           -->
    <!-- ============================================================ -->
    <?define MergeModuleDir = "$(env.CommonProgramFiles)\Merge Modules" ?>
    <?define DXSDKDIR       = "$(env.DXSDK_DIR)" ?>

    <?if $(var.Platform) = x64 ?>
    <?define ProductName = "Hailstorm Engine Demo (64 bit)" ?>
    <?define Win64       = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
    <?define ProductName = "Hailstorm Engine Demo" ?>
    <?define Win64       = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <!-- ============================================================ -->
    <!--   Hailstorm Engine Demo Product                              -->
    <!-- ============================================================ -->    
	<Product Id="dc597f23-e9a3-49ab-8dc0-36296e5c072c"
             Name="Hailstorm Tech Demo"
             Language="1033"
             Version="1.0.0.0"
             Manufacturer="Scott MacDonald"
             UpgradeCode="982c4cb0-7b9d-47c2-a04e-05bd5ddaa279">
		<Package InstallerVersion="300" Compressed="yes" Platform="$(var.Platform)" />
		<Media Id="1" Cabinet="hailstorm.cab" EmbedCab="yes" />

        <!-- ************************************************************** -->
        <!-- The directory structure for this application                   -->
        <!-- ************************************************************** -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="CompanyProgramFolder" Name="whitespaceconsideredharmful.com">
				    <Directory Id="APPLICATIONROOTDIRECTORY" Name="hailstorm">
                        <Directory Id="HailstormBinDir" Name="bin" />
                        <Directory Id="HailstormDataDir" Name="data" />
                    </Directory>
				</Directory>
			</Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Hailstorm" />
            </Directory>
		</Directory>

        <!-- ************************************************************** -->
        <!-- All of the files that this application needs to have installed -->
        <!-- ************************************************************** -->
        <DirectoryRef Id="HailstormBinDir">
            <?if $(var.Win64) = "yes" ?>
                <Component Id="Sandbox.exe" Guid="eb2a53f9-0599-4684-a314-0c200de6fc96" Win64="$(var.Win64)">
                    <File Id="Sandbox64.exe" Source="..\game\bin\Sandbox64.exe" KeyPath="yes" Checksum="yes" />
                </Component>
            <?else ?>
                <Component Id="Sandbox.exe" Guid="e1bb9b75-cde9-4e6c-83f4-fada1ce10094">
                    <File Id="Sandbox32.exe" Source="..\game\bin\Sandbox32.exe" KeyPath="yes" Checksum="yes" />
                </Component>
            <?endif ?>      
        </DirectoryRef>

        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="readme.txt" Guid="d045dea4-c80b-4ff7-a023-a75ec6a15e10">
                <File Id="readme.txt" Source="..\ReadMe.txt" />
            </Component>
        </DirectoryRef>

        <!-- ************************************************************** -->
        <!--   Application short cuts                                       -->
        <!-- ************************************************************** -->        
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="HailstormShortcuts" Guid="4e2ca7c8-fa8a-4c1f-8777-a5ff95768444">
                <RegistryValue Id="RegShortcutDesktop" Root="HKCU"
                        Key="Software\whitespaceconsideredharmful.com\settings" Name="StartMenuShortcut" Value="1"
                        Type="integer" KeyPath="yes" />

                <?if $(var.Win64) = "yes" ?>
                <Shortcut Id="StartMenuHailstormShortcut"
                          Name="Hailstorm Engine Demo (x64)"
                          Description="Run the hailstorm demo in 64 bit mode"
                          Target="[APPLICATIONROOTDIRECTORY]bin\hailstorm64.exe"
                          WorkingDirectory="HailstormBinDir" />
                <?else ?>
                <Shortcut Id="StartMenuHailstormShortcut"
                          Name="Hailstorm Engine Demo"
                          Description="Run the hailstorm demo in 64 bit mode"
                          Target="[APPLICATIONROOTDIRECTORY]bin\hailstorm32.exe"
                          WorkingDirectory="HailstormBinDir" />
                <?endif ?>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </DirectoryRef>

        <!-- ************************************************************** -->
        <!--   Visuall C++ Redistributable                                  -->
        <!-- ************************************************************** -->
        <DirectoryRef Id="TARGETDIR">
            <?if $(var.Win64) = "yes" ?>
                <Merge Id="VCRedist" SourceFile="$(var.MergeModuleDir)\Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0"/>
            <?else ?>
                <Merge Id="VCRedist" SourceFile="$(var.MergeModuleDir)\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
            <?endif ?>
        </DirectoryRef>

        <!-- ************************************************************** -->
        <!--   DirectX 10 Redistributable                                   -->
        <!-- ************************************************************** -->
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="DirectXRedistDirectory" Name="DirectX10.1">
                <Component Id="DirectXRedist" Guid="d35e900c-d012-4735-b032-a796df234870">
                    <File Id="DXSETUP.exe"
                          Name="DXSETUP.exe"
                          Source="$(var.DXSDKDIR)\Redist\DXSETUP.exe"
                          KeyPath="yes"
                          Checksum="yes" />
                    <File Id="dxupdate.cab"
                          Source="$(var.DXSDKDIR)redist\dxupdate.cab" />
                    <File Id="dxdllreg_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\dxdllreg_x86.cab" />
                    <File Id="dsetup32.dll"
                          Source="$(var.DXSDKDIR)\redist\dsetup32.dll" />
                    <File Id="dsetup.dll"
                          Source="$(var.DXSDKDIR)\redist\DSETUP.dll" />
                </Component>
                <?if $(var.Win64) = "yes" ?>
                <Component Id="DirectXRedist_2" Guid="A7E3E414-9007-471C-B68E-50863A42E4A3">
                    <File Id="D3DCompiler_43_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_D3DCompiler_43_x64.cab" />
                    <File Id="d3dcsx_43_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dcsx_43_x64.cab" />
                    <File Id="d3dx10_43_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dx10_43_x64.cab" />
                    <File Id="d3dx11_43_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dx11_43_x64.cab" />
                    <File Id="XACT_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_XACT_x64.cab" />
                    <File Id="XAudio_x64.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_XAudio_x64.cab" />
                </Component>
                <?else ?>
                <Component Id="DirectXRedist_2" Guid="F93F235A-032C-4809-B53F-60108444A92F">
                    <File Id="D3DCompiler_43_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_D3DCompiler_43_x64.cab" />
                    <File Id="d3dcsx_43_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dcsx_43_x64.cab" />
                    <File Id="d3dx10_43_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dx10_43_x64.cab" />
                    <File Id="d3dx11_43_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_d3dx11_43_x64.cab" />
                    <File Id="XACT_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_XACT_x64.cab" />
                    <File Id="XAudio_x86.cab"
                          Source="$(var.DXSDKDIR)\redist\Jun2010_XAudio_x64.cab" />
                </Component>
                <?endif ?>
            </Directory>
        </DirectoryRef>

        <!-- ************************************************************** -->
        <!--   List of application features that can be installed           -->
        <!-- ************************************************************** -->
		<Feature Id="ProductFeature"
                 Title="Hailstorm Client"
                 Description="These are the files required for Hailstorm to work correctly"
                 Display="collapse"
                 ConfigurableDirectory="APPLICATIONROOTDIRECTORY"
                 AllowAdvertise="no"
                 Absent="disallow"
                 Level="1">
            <ComponentRef Id="Sandbox.exe" />
            <ComponentRef Id="readme.txt" />
            <ComponentRef Id="HailstormShortcuts" />
			
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>

        <Feature Id="VCRedist"
                 Title="Visual C++ 10.0 Runtime"
                 Description="Microsoft C Runtime Shared Library (Required)"
                 AllowAdvertise="no"
                 Level="1">
            <MergeRef Id="VCRedist"/>
        </Feature>

        <Feature Id="DirectXRedist" Title="Microsoft DirectX Runtime" AllowAdvertise="no" Level="1">
            <ComponentRef Id="DirectXRedist" />
            <ComponentRef Id="DirectXRedist_2" />
        </Feature>

        <!-- ======================================================== -->
        <!--  Custom action to install DirectX SDK                    -->
        <!-- ======================================================== -->
        <CustomAction Id="InstallDirectX"
                      FileKey="DXSETUP.exe"
                      ExeCommand="/silent"
                      Execute="deferred"
                      Impersonate="no"
                      Return="check" />

        <InstallExecuteSequence>
            <Custom Action="InstallDirectX" Before="InstallFinalize">
                <![CDATA[NOT REMOVE]]>
            </Custom>
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="InstallDirectX">Updating DirectX Libraries</ProgressText>
        </UI>        

        <!-- ************************************************************** -->
        <!--   The installer's user interfacfe goes here                    -->
        <!-- ************************************************************** -->
        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="firstpage.bmp" />
	</Product>
</Wix>
